div.gh-card {
  display: block;
  border: 1px solid #737373;
  border-radius: 4px;
  text-decoration: none;
  color: #2e2e2e;
  transition: all 0.25s ease;
  max-width: 400px;
  padding: 8px 8px 4px 8px;
  font-size: 0.9rem;
}

.gh-card a {
  text-decoration: none;
}

.gh-card a:hover,
.gh-card a:focus {
  text-decoration: underline;
}

.gh-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  font-size: 1.2rem;
}

.gh-desc {
  opacity: 0.9;
}

.gh-card > div > svg {
  margin-right: 4px;
  width: 1rem;
  color: #464646;
}

.gh-bottom {
  display: flex;
  justify-content: space-between;
}
